* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    background: #999;
    display: flex;
}

.item {
    background: rgba(255, 0, 0, .5);
    /* width: 200px; */
    /* flex: 1; */
}

.item:nth-child(1) {
    /* flex: 1; */
    width: 200px;
    order: 2;
}

.item:nth-child(2) {
    flex: 1;
    order: 3;
}
.item:nth-child(3) {
    flex: 1;
    order: 1;
}


.item:nth-child(odd) {
    background: rgba(255,255,0,.5);
}